@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8EFDF;
  }
}

@layer components {
  .card-yarn {
    background-color: #E9E3D7;
  }
  .card-insp {
    background-color: #FFFAF1;
  }
  .bubble-bg {
    background-color: #F8EFDF;
  }
  .btn-white {
    background-image: url("/knitknit/texture/btn_white.png");
    background-repeat: repeat;
    color: #464646;
  }
  .btn-coffee {
    background-image: url("/knitknit/texture/btn_coffee.png");
    background-repeat: repeat;
    color: #fff;
  }
  .stitch-border-b {
    border-bottom: 2px dashed rgba(47,95,158,0.35);
  }
}
